
body{
    max-width: 100%;
    min-width: 250px; 
}

h1{
    text-align: center;
}
h2{
    text-decoration: underline;
    font-weight: bold;
}
.mainSection{
    background-color: lightgreen;
}

.gameBoardSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.oneHundred{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.twoHundred{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
}
.threeHundred{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.fourHundred{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.fiveHundred{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.finalQuestionButton{
    text-align: center;
    background-color: blue;
}
.scoreSection{
    background: lawngreen;
    text-align: center;
}
