
body{
    max-width: 100%;
    min-width: 100px; 
}

h1{
    text-align: center;
    padding: 20px;
}
h2{
    text-decoration: underline;
    font-weight: bold;
    
}
ul{
    padding: 20px;
    font-weight: bold;
}
.mainSection{

    background-color: greenyellow;
}
.catogory1{
    font-weight: bold;
    font-size: 20px;
}
.catogory2{
    font-weight: bold;
    font-size: 20px;
}

.gameBoardSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.oneHundred{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.twoHundred{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
}
.threeHundred{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.fourHundred{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.fiveHundred{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.scoreSection{
    background: greenyellow;
    text-align: center;
    font-size: 50px;
}
